doctype html
html(lang="en")
    head
        title Page Title
        link(rel="stylesheet" href="../docs.css")

    body
        .docs-wrapper
            h1 Заголовок 1

            .block
                .block_anchor
                    a(href="#01" name="01") 01
                p Кнопка запускает действие.

            h2 Где использовать

            .block
                .block_anchor
                    a(href="#02" name="02") 02
                p В современных веб-интерфейсах граница между кнопками и ссылками размыта. Ссылка также может запускать действие. Отличие кнопки в том, что она заметнее, и почти никогда не используется для перехода на другую страницу (то, для чего изначально задумывались гиперссылки).

            .block
                .block_anchor
                    a(href="#03" name="03") 03
                p Не используйте кнопки для перехода на другую страницу.

                ul
                    li если это&nbsp;делает кнопку более пропорциональной остальным элементам страницы;
                    li (style="padding-bottom: 0px; margin-bottom:0px") если текст внутри кнопки короткий и&nbsp;кнопка выглядит маленькой.

                p zz