html
head
    link(rel="stylesheet" href="../pack/full.css")
body
    div(style="width:510px; padding:30px 0 0; margin: 0 auto;")
        div
            p.text-xl Съешь ещё этих мягких французских булок, да выпей же чаю
            p.text-l Съешь ещё этих мягких французских булок, да выпей же чаю
            p.text-m Съешь ещё этих мягких французских булок, да выпей же чаю
            p.text-s Съешь ещё этих мягких французских булок, да выпей же чаю

    div(style="width:500px; padding:0 0 30px; margin: 0 auto;")
        hr(style="margin:50px 0")
        div
            p.text-xl Значимость этих проблем <a>настолько очевидна</a>, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание существенных финансовых и административных.
            p.text-xl Задача организации, в особенности же новая модель организационной деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Повседневная практика показывает, что консультация с широким активом позволяет оценить значение направлений прогрессивного развития.
            p.text-xl Равным образом новая модель организационной деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Разнообразный и богатый опыт новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.

        hr(style="margin:50px 0")
        div
            p.text-l Значимость этих проблем <a>настолько очевидна</a>, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание существенных финансовых и административных.
            p.text-l Задача организации, в особенности же новая модель организационной деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Повседневная практика показывает, что консультация с широким активом позволяет оценить значение направлений прогрессивного развития.
            p.text-l Равным образом новая модель организационной деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Разнообразный и богатый опыт новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.

        hr(style="margin:50px 0")
        div
            p.text-m Значимость этих проблем <a>настолько очевидна</a>, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание существенных финансовых и административных.
            p.text-m Задача организации, в особенности же новая модель организационной деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Повседневная практика показывает, что консультация с широким активом позволяет оценить значение направлений прогрессивного развития.
            p.text-m Равным образом новая модель организационной деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Разнообразный и богатый опыт новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.

        hr(style="margin:50px 0")
        div.text-s
            p Значимость этих проблем <a>настолько очевидна</a>, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание существенных финансовых и административных.
            p Задача организации, в особенности же новая модель организационной деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Повседневная практика показывает, что консультация с широким активом позволяет оценить значение направлений прогрессивного развития.
            p Равным образом новая модель организационной деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Разнообразный и богатый опыт новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.
