$lpm-hint__z-index: 1060;
$lpm-hint__button-z-index: 10;
$lpm-hint__clicker-z-index: ($lpm-hint__button-z-index - 1);
$lpm-hint__target-z-index: ($lpm-hint__z-index - 1);
$lpm-hint__fader-z-index: ($lpm-hint__target-z-index - 1);
$lpm-hint__text-padding: 20px;

@import "text.scss";
@import "button.scss";
@import "target.scss";
@import "button-animation.scss";
