$lpm-hint__zindex: 1060;
$lpm-hint__button-zindex: 10;
$lpm-hint__clicker-zindex: ($lpm-hint__button-zindex - 1);
$lpm-hint__target-zindex: ($lpm-hint__zindex - 1);
$lpm-hint__fader-zindex: ($lpm-hint__target-zindex - 1);

$lpm-hint__text-padding: 20px;

@import "text";
//@import "button";
//@import "target";
//@import "button-animation";