.c-input__small .c-input {
    @include input__default-size();
}

.c-input__medium .c-input {
    font-size: $INPUT_font_size;
    height: $INPUT_medium_height;
    line-height: $input-medium__line-height;
    padding: 0 10px;
}

.c-input__large .c-input {
    font-size: $INPUT_large_font_size;
    height: $INPUT_large_height;
    line-height: $input-large__line-height;
    padding: 0 12px;
}