$input__color-warning: #f5a636;
$input__color-error: #da0902;

$input__border: 1px;

$input-small__line-height: $INPUT_small_height - 2;
$input-medium__line-height: $INPUT_medium_height - 2;
$input-large__line-height: $INPUT_large_height - 2;