@import "mixins";

$base-font-family: 'Segoe UI', Arial, sans-serif;
$base-font-size: 14px;
$base-ratio: 1.45;
$golden-ratio: 1.618;
$base-line-height: roundEven($base-font-size * $base-ratio);

$base-paragraph-margin: 0.8em;
$between-paragraphs-ratio: 0.6;