@import "mixins";

$step: 4px;
$golden-ratio: 1.618;

$base-font-family: 'Segoe UI', Arial, sans-serif;
$base-font-size: 14px;

$base-ratio: 1.538;
$base-line-height: roundEven($base-font-size * $base-ratio);

$between-paragraphs-ratio: 0.9;
