$base-font-family: 'Segoe UI', Arial, sans-serif;
$base-font-size: 14px;

@function roundEven($num) {
    @return round($num / 2) * 2;
}

//
$INPUT_base_width: 250px;
$INPUT_border_radius: 2px;

$INPUT_small_height: 34px;
$INPUT_medium_height: 40px;
$INPUT_large_height: 44px;

$INPUT_font_size: $base-font-size;
$INPUT_large_font_size: $base-font-size + 2;