.c-button {
    user-select: none;
    cursor: pointer;
    color: #333;
    border: 0;
    display: inline-block;
    font-family: inherit;
    font-size: $BUTTON__text-size;
    margin: 0;
    outline: 0;
    overflow: visible;
    position: relative;
    box-sizing: border-box;
    -webkit-appearance: button;
    //border: 1px solid #000;

    &:active, &.c-button_active {
        .c-button__inner {
            top: 1px;
        }
    }

    &:focus, &.c-button_focus {
        outline: none;
        box-shadow: inset 0 0 0 1px #fff, 0 0 0 2px #5199db;
    }
}

.c-button__inner {
    position: relative;
    display: block;
    white-space: nowrap;
    height: 100%;
}