.c-button_small {
    padding: 0 round(($INPUT_small_height - 2) / 2);
    height: $INPUT_small_height - 2;
    line-height: $INPUT_small_height - 2;
}

.c-button_medium {
    padding: 0 round(($INPUT_medium_height - 2) / 2);
    height: $INPUT_medium_height - 2;
    line-height: $INPUT_medium_height - 2;
}

.c-button_large {
    padding: 0 round(($INPUT_large_height - 2) / 2);
    height: $INPUT_large_height - 2;
    line-height: $INPUT_large_height - 2;
    font-size: $INPUT_large_font_size;
}