$header-multiplier: 1.3;

$header1--font-size: roundStep($base-font-size * pow($header-multiplier, 3));
$header1--line-height: roundStep($header1--font-size * $base-ratio);

$header2--font-size: roundStep($base-font-size * pow($header-multiplier, 2));
$header2--line-height: roundStep($header2--font-size * $base-ratio);

$header3--font-size: roundStep($base-font-size * $header-multiplier);
$header3--line-height: roundStep($header3--font-size * $base-ratio);

$header4--font-size: $base-font-size;
$header4--line-height: roundStep($header4--font-size * $base-ratio);

$header5--font-size: roundStep($base-font-size / $header-multiplier);
$header5--line-height: roundStep($header5--font-size * $base-ratio);

h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: normal;
}

h1 {
    font-size: $header1--font-size;
    line-height: $header1--line-height;
}

h2 {
    font-size: $header2--font-size;
    line-height: $header2--line-height;
}

h3 {
    font-size: $header3--font-size;
    line-height: $header3--line-height;
}

h4 {
    font-size: $header4--font-size;
    line-height: $header4--line-height;
    font-weight: bold;
}

h5 {
    font-size: $header5--font-size;
    line-height: $header5--line-height;
    font-weight: bold;
}