$font-small: $base-font-size - 2;
$font-large: $base-font-size + 2;
$font-extra-large: $base-font-size + 4;

$font-small-line-height: roundEven($font-small * $base-ratio);
$font-large-line-height: roundEven($font-large * $base-ratio);
$font-extra-large-line-height: roundEven($font-extra-large * $base-ratio);

$paragraph-M-margin: roundEven($base-font-size * $between-paragraphs-ratio);
$paragraph-S-margin: roundEven($font-small * $between-paragraphs-ratio);
$paragraph-L-margin: roundEven($font-large * $between-paragraphs-ratio);
$paragraph-XL-margin: roundEven($font-extra-large * $between-paragraphs-ratio);

.text-m {
    font-size: $base-font-size;
    line-height: $base-line-height;
}

.text-l {
    font-size: $font-large;
    line-height: $font-large-line-height;
}

.text-xl {
    font-size: $font-extra-large;
    line-height: $font-extra-large-line-height;
}

.text-s {
    font-size: $font-small;
    line-height: $font-small-line-height;
}

// ---------------------
// Отступы параграфов задаются сверху и снизу для того, чтобы можно было комбинировать
// параграфы разных размеров. Тогда между ними будет максимальный отступ (т.е. того параграфа,
// который крупнее. Конечно, в идеале таких комбинаций не надо делать.

p {
    display: block;
    margin: $base-paragraph-margin 0 $base-paragraph-margin;
}

p.text-m, .text-m > p {
    margin: $paragraph-M-margin 0 $paragraph-M-margin;
}

p.text-l, .text-l > p {
    margin: $paragraph-L-margin 0 $paragraph-L-margin;
}

p.text-xl, .text-xl > p {
    margin: $paragraph-XL-margin 0 $paragraph-XL-margin;
}

p.text-s, .text-s > p {
    margin: $paragraph-S-margin 0 $paragraph-S-margin;
}

// ---------------------
// в самом низу, т.к. перебивают отступы

p.first, p:first-child {
    margin-top: 0;
}

p.last, p:last-child {
    margin-bottom: 0;
}